In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\desktop\text-summarization\textsummarization-nlp\texts\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\hp\desktop\text-summarization\textsummarization-nlp\texts\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\desktop\text-summarization\textsummarization-nlp\texts\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\desktop\text-summarization\textsummarization-nlp\texts\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\desktop\text-summarization\textsummarization-nlp\texts\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\text-summarization\textsummarization-nlp\texts\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [4]:
data=[10,20,30,40]
series = pd.Series(data)
series

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
data=[10,20,30,40]
customIndex =['A','B','C','D']
series= pd.Series(data, index=customIndex)
series

A    10
B    20
C    30
D    40
dtype: int64

In [7]:
series['B']
series[1]

C:\Users\hp\AppData\Local\Temp\ipykernel_4544\1963945134.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series[1]

20

In [8]:
result=series+4
result

A    14
B    24
C    34
D    44
dtype: int64

In [9]:
#Dataframs
data ={
    'Name':['A','B','V','F'],
    'age':[10,8,23,8],
    'city':['Aff','Afcani','Sri','Wolf']
    
}

In [11]:
df=pd.DataFrame(data)
df

  Name  age    city
0    A   10     Aff
1    B    8  Afcani
2    V   23     Sri
3    F    8    Wolf

In [12]:
df['Name']

0    A
1    B
2    V
3    F
Name: Name, dtype: object

In [13]:
df.loc[0]

Name      A
age      10
city    Aff
Name: 0, dtype: object